{%extends 'base.html'%} 
{% block content %}
<div class="container">

  <div class="row">
    {% if searched_profiles%}
      <h2>Found {{ searched_profiles|length }} of searched term {{message}}</h2>
    {% else %}
      <h2> could not find user {{message}}</h2>
    {% endif %}

  </div>

  <div class="row">
    {% if searched_profiles %}
    {% for profile in searched_profiles %}
        {{profile.user}}
        <img src="{{profile.profile.url}}" alt="" style="height: 25px;">
        <br>
    {% endfor%}
    {% endif %}
  </div>
</div>
  {%endblock%}